<% var tempParameters = require('../template-parameters.js') %> <%=
_.template(require('../components/head.html'))(tempParameters.index) %> <%=
_.template(require('../components/header.html'))(tempParameters) %>
<main role="main">
  <%= _.template(require('../components/h1.html'))({social:
  require('../components/socialGroup.html')}) %> <%=
  _.template(require('../components/works.html'))() %> <%=
  _.template(require('../components/about.html'))() %> <%=
  _.template(require('../components/links.html'))() %> <%=
  _.template(require('../components/contacts.html'))({social:
  require('../components/socialGroup.html')}) %>
</main>
<%= _.template(require('../components/footer.html'))(tempParameters) %>
