<% var tempParameters = require('../template-parameters.js') %> <%=
_.template(require('../components/head.html'))(tempParameters.index) %> <%=
_.template(require('../components/header.html'))(tempParameters) %>
<main>
  <section class="container h1" id="h1">
    <h1>
      Motivation Is The First <br />
      Step To <span> Success</span>
    </h1>
    <%= _.template(require('../components/socialGroup.html'))() %>
  </section>
  <div class="container works" id="works">
    <div class="section">
      <h2 class="title">Works</h2>
      <div class="works__content">
        <div class="works__content-wrapper">
          <div class="works__item">
            <div class="works__item-label">
              Featured
            </div>
            <div class="works__item-title">
              Motivation Is The <br />
              First Step To Success
            </div>
          </div>
          <div class="works__item" id="first-work-changed-item">
            <div class="works__item-title">
              Benjamin Franklin S <br />
              Method Of Habit <br />
              Formation
            </div>
          </div>
        </div>
        <div class="works__content-wrapper">
          <div class="works__item" id="second-work-changed-item">
            <div class="works__item-title">
              How Great Is The <br />
              Strength Of Your Belief
            </div>
          </div>
          <div class="works__item">
            <div class="works__item-label">
              Featured
            </div>
            <div class="works__item-title">
              Increasing Prosperity <br />
              With Positive Thinking
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="container about"
    id="about"
    style="height: 600px;background: yellow;"
  >
    about
  </div>
  <div
    class="container links"
    id="links"
    style="height: 300px; background: peru;"
  >
    links
  </div>
  <div
    class="container contacts"
    id="contacts"
    style="height: 700px; background:seagreen;"
  >
    contacts
  </div>
</main>
<%= _.template(require('../components/footer.html'))(tempParameters) %>
