<% var tempParameters = require('../template-parameters.js') %>
<%= _.template(require('../components/head.html'))(tempParameters.index) %> 
<%= _.template(require('../components/header.html'))(tempParameters) %>
<main>
  <div class="container h1" id="h1" style="height: 450px;background: cyan;">
    h1
  </div>
  <div class="container works" id="works" style="height: 1230px; background:red;">
    works
  </div>
  <div class="container about" id="about" style="height: 600px;background: yellow;">
    about
  </div>
  <div class="container links" id="links" style="height: 300px; background: peru;">
    links
  </div>
  <div class="container contacts" id="contacts" style="height: 700px; background:seagreen;">
    contacts
  </div>
</main>
<%= _.template(require('../components/footer.html'))(tempParameters) %>
