<div class="container about" id="about">
  <section class="section">
    <h2 class="title">About</h2>
    <div class="about__wrapper">
      <article class="about__item">
        <h3 class="about__title">
          UX/UI
        </h3>
        <div class="about__body short-mobile-text">
          Of course, motivation really isn’t
          <span class="secondary"> simple at all</span>. That is why there is
          multi-billion industry focused on self-help books, tapes, seminars,
          camps, and coaches.
        </div>
      </article>

      <article class="about__item">
        <h3 class="about__title">
          Motion
        </h3>
        <div class="about__body short-mobile-text">
          As humans, we have progressed in so many ways, but we have lost touch
          with our bodies, nature, and the power of prayer. There seems to be a
          spiritual renaissance, of sorts, going on in the “new age” movement.
        </div>
      </article>

      <article class="about__item">
        <h3 class="about__title">
          Branding
        </h3>

        <div class="about__body short-mobile-text">
          If at anytime, you notice that a friend of yours is getting
          demotivated about life, try to inspire him/her as much as you can.
          Even if you are physically away from your friend you can send him
          inspirational ecards and tell him to download motivational
          screensavers and wallpapers. So motivate everyone who needs the boost.
        </div>
      </article>

      <article class="about__item">
        <h3 class="about__title">
          Development
        </h3>
        <div class="about__body short-mobile-text">
          Personally, the importance does not lie in what religion you are;
          however, a lack of religion does seem to run parallel with depression.
          This is classified as spiritual illness, which will have a negative
          effect on you mentally, physically, or totally.
        </div>
      </article>
    </div>
    <div class="about__friends">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section>
</div>
