<header>
  <div class="container">
    <nav class="nav">
      <div class="burger-button" id="burger-button" data-target="nav__inner">
        <div></div>
        <div></div>
      </div>
      <div class="nav__inner" id="nav__inner">
        <div class="nav__links-wrapper">
          <a href="#works">Works</a>
          <a href="#about">About</a>
        </div>
        <div class="nav__links-wrapper">
          <a href="#links">Links</a>
          <a href="#contacts">Contacts</a>
        </div>
      </div>
      <a class="navbar-brand" href="/">
        <img src="/img/orca.jpg" width="52" height="52" alt="Orca" />
      </a>
    </nav>
  </div>
</header>
