<div class="container works" id="works">
  <section class="section">
    <h2 class="title">Works</h2>
    <div class="works__content">
      <div class="works__content-wrapper">
        <article class="works__item">
          <div class="works__item-label">
            Featured
          </div>
          <h3 class="works__item-title">
            Motivation Is The <br />
            First Step To Success
          </h3>
        </article>
        <article class="works__item" id="first-work-changed-item">
          <h3 class="works__item-title">
            Benjamin Franklin S <br />
            Method Of Habit <br />
            Formation
          </h3>
        </article>
      </div>
      <div class="works__content-wrapper">
        <article class="works__item" id="second-work-changed-item">
          <h3 class="works__item-title">
            How Great Is The <br />
            Strength Of Your Belief
          </h3>
        </article>
        <article class="works__item">
          <div class="works__item-label">
            Featured
          </div>
          <h3 class="works__item-title">
            Increasing Prosperity <br />
            With Positive Thinking
          </h3>
        </article>
      </div>
    </div>
  </section>
</div>
