header {
  height: $header-height;
  margin-top: 100px;

  @media (--xs-only) {
    margin-top: 60px;
  }
}

@keyframes navOpen {
  from {
    height: 0;
  }

  to {
    height: 160px;
  }
}

@keyframes linkAppear {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

.nav {
  position: relative;
  width: 100%;
  height: $header-height;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;

    @media (--xs-only) {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 0;

      &.is-active {
        position: absolute;
        top: 50px;
        z-index: 10;
        display: flex;
        width: 100%;
        background: #fff;
        animation: 0.5s ease-out 0s forwards navOpen;

        > .nav__links-wrapper {
          width: 100%;

          &:nth-child(1) {
            a {
              &:nth-child(1) {
                animation: 0.5s ease-out 0s forwards linkAppear;
              }

              &:nth-child(2) {
                animation: 0.5s ease-out 0.12s forwards linkAppear;
              }
            }
          }

          &:nth-child(2) {
            a {
              &:nth-child(1) {
                animation: 0.5s ease-out 0.25s forwards linkAppear;
              }

              &:nth-child(2) {
                animation: 0.5s ease-out 0.37s forwards linkAppear;
              }
            }
          }
        }
      }
    }
  }

  &__links-wrapper {
    &:nth-of-type(1) {
      a {
        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin: 0 66px 0 0;

          @media (--xs-only) {
            margin: 0;
          }
        }
      }
    }

    &:nth-of-type(2) {
      a {
        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin: 0 0 0 66px;

          @media (--xs-only) {
            margin: 0;
          }
        }
      }
    }

    @media (--xs-only) {
      a {
        display: block;
        width: 0;
        height: 40px;
        padding-left: 20px;
        line-height: 40px;
        opacity: 0;
      }
    }
  }

  a {
    font-size: 12px;
    font-weight: 800;
    color: $secondary;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;

    &:hover {
      text-decoration: underline;
    }
  }

  .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      border-radius: 50%;
    }
  }
}

.burger-button {
  position: relative;
  top: 1px;
  display: none;
  width: 50px;
  height: 50px;

  > div {
    position: absolute;
    left: 0;
    width: 20px;
    height: 3px;
    background: $secondary;
    border-radius: 1.5px;
    transition: all ease-in 350ms;

    &:nth-child(1) {
      top: 20px;
    }

    &:nth-child(2) {
      bottom: 19px;
    }
  }

  &.is-active {
    > div {
      &:nth-child(1) {
        top: 24px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        bottom: 23px;
        transform: rotate(-45deg);
      }
    }
  }

  @media (--xs-only) {
    display: block;
  }
}
