@import '_custom.scss';
/* from node_modules */
@import 'normalize.css';

/* custom */
@import 'variables.scss';
@import 'media.scss';

/* components */
@import 'header.scss';
@import 'footer.scss';

html {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  main {
    flex: 1 0 auto;
  }
}

.container {
  max-width: 1100px;
  min-width: 315px;
  display: flex;
  margin: 0 auto;
  padding: 0;
  @media (--xs-only) {
    max-width: calc(100% - 5px);
  }
  @media (--sm-only) {
    max-width: calc(100% - 20px);
  }
  @media (--md-only) {
    max-width: calc(100% - 30px);
  }
  @media (--lg-only) {
    max-width: 1100px;
  }
}